<% content_for :title, "Editing growth strategy" %>

<h1>Editing growth strategy</h1>

<%= render "form", growth_strategy: @growth_strategy %>

<br>

<div>
  <%= link_to "Show this growth strategy", @growth_strategy %> |
  <%= link_to "Back to growth strategies", growth_strategies_path %>
</div>
