<% content_for :title, "New growth strategy" %>

<h1>New growth strategy</h1>

<%= render "form", growth_strategy: @growth_strategy %>

<br>

<div>
  <%= link_to "Back to growth strategies", growth_strategies_path %>
</div>
