<% content_for :title, "Editing innovation style" %>

<h1>Editing innovation style</h1>

<%= render "form", innovation_style: @innovation_style %>

<br>

<div>
  <%= link_to "Show this innovation style", @innovation_style %> |
  <%= link_to "Back to innovation styles", innovation_styles_path %>
</div>
