<% content_for :title, "Editing preferred work culture" %>

<h1>Editing preferred work culture</h1>

<%= render "form", preferred_work_culture: @preferred_work_culture %>

<br>

<div>
  <%= link_to "Show this preferred work culture", @preferred_work_culture %> |
  <%= link_to "Back to preferred work cultures", preferred_work_cultures_path %>
</div>
