<% content_for :title, "New preferred work culture" %>

<h1>New preferred work culture</h1>

<%= render "form", preferred_work_culture: @preferred_work_culture %>

<br>

<div>
  <%= link_to "Back to preferred work cultures", preferred_work_cultures_path %>
</div>
