<% content_for :title, "New management style" %>

<h1>New management style</h1>

<%= render "form", management_style: @management_style %>

<br>

<div>
  <%= link_to "Back to management styles", management_styles_path %>
</div>
