<% content_for :title, "New deal breaker" %>

<h1>New deal breaker</h1>

<%= render "form", deal_breaker: @deal_breaker %>

<br>

<div>
  <%= link_to "Back to deal breakers", deal_breakers_path %>
</div>
