<% content_for :title, "New business model" %>

<h1>New business model</h1>

<%= render "form", business_model: @business_model %>

<br>

<div>
  <%= link_to "Back to business models", business_models_path %>
</div>
