<% content_for :title, "New deal structure" %>

<h1>New deal structure</h1>

<%= render "form", deal_structure: @deal_structure %>

<br>

<div>
  <%= link_to "Back to deal structures", deal_structures_path %>
</div>
